
/****** General Styles ******/
@font-face {
	font-family: FalkinSerifPERSONAL;
	src: url(fonts/FalkinSerifPERSONAL.ttf)
}

body {
	font-size: 16px;
	font-family: Verdana, Tahoma, sans-serif;
}

h1, h3 {
	margin: 15px 0;
}

h1 {
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
}

#wrapper {
	width: 960px;
	margin: 0 auto;
}

a {
	color: #497DAD;
	text-decoration: none;
}

header:after, header:after {
	clear: both;
}

/****** Header Styles ******/

.nav-search-box {
	margin-top: 50px;
}

nav, nav > ul > li {
	display: inline-block;
	margin: 0 20px;
}

nav, nav > ul > li:first-child {
	margin-left: 0;
}

nav a {
	font-family: FalkinSerifPERSONAL;
	color: #999;
	letter-spacing: 2px;
	text-transform: uppercase;
}

input {
	float: right;
}

hr {
	color: #aaa;
	height: 1px;
}

/****** Aside Styles ******/

aside {
	width: 180px;
	float: left;
	padding: 10px;
}

aside ul {
	border-top: 1px solid #aaa;
	padding-top: 10 px;
	list-style-type: none;
}

.aside-box {
	margin-bottom: 15px;
}

.aside-box header {
	color: #999;
	border-bottom: 1px solid #aaa;
	padding-bottm: 5px;
}

/****** Main Styles ******/

main {
	margin-top: 40px;
}

section {
	width: 540px;
	margin: 0 10px;
	float: left;
}

/****** Article Styled ******/

header {
	margin-bottom: 20px;
}

header > h3 {
	margin-bottom: 0;
}

.article-details {
	font-size: 0.8em;
	color: #ccc;
}

.leave-comment, .author, time {
	color: #999;
	text-transform: uppercase;
}

.leave-comment a, .author a {
	border-bottom: 1px dashed #999;
}

.leave-comment a:hover, .author a:hover {
	border-bottom: 1px solid #999;
}

article p {
	color: #444;
	margin-bottom: 15px;
}